.footerPrimaryBackground {
    background: #211522;
    color: #FFFFFF;
}
.footerPrimaryHeight {
    min-height: 60vh;
}
.jumbotronBackground {
    background: #D3B1C2;
    color: #211522;
}
.mailHeading {
    font-size: 28px;
}
.iconStyle {
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
    transition: 1s;
}
.iconStyle:hover {
    transform: scale(1.2);
    z-index: 2;
}
.socialConnectPrimaryText {
    font-size: 18px;
}
.socialConnectSecondaryText {
    font-size: 14px;
}
.socialConnectText:hover, .socialConnectText:hover {
    color: #C197D2;
}
.socialContactsHeading {
    font-size: 28px;
    color: #D3B1C2;
}
.setBorderTop {
    border-top: 1px solid;
}
@media (max-width: 992px) {
    .socialConnectText {
        font-size: 14px;
    }
    .footerPrimaryHeight {
        min-height: 80vh;
    }
}