.navigationPrimaryBackground {
    background: #211522;
    color: #FFFFFF;
}
.navigationBrand {
    color: #D3B1C2;
    font-weight: 400;
    font-size: 24px;
}
.navigationText {
    color: #FFFFFF;
    font-weight: 600;
}
.navigationText:active {
    color: #C197D2;
}
.navigationText:hover {
    color: #C197D2;
}
.navigationContactButtonBackground {
    background: #D3B1C2;
    color: #211522;
    font-weight: 600;
}
.navigationContactButtonBackground:hover {
    background: #FFFFFF;
    color: #211522;
}
.btn:focus,.btn:active {
    size: 50%;
    outline: none !important;
    box-shadow: none;
 }
 .mobileConnectText {
     font-size: 70%;
 }
 /*
    Primary Dark: #211522
    Primary Light: #D3B1C2
    Secondary Dark: ##613659
    Secondary Light: #C197D2
    Complimentary: #FFFFFF
    Complimentary: #000000
 */