@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
.clickableObject {
    cursor: pointer;
}
.rootStyles {
    font-family: 'Roboto', sans-serif;
}